body{
	background-image: url(../images/darkness/darkness.png);
	color:white;
	font-family: 'Luckiest Guy', cursive;
	font-size: 20px;
}
* {
	box-sizing: border-box;
}
.dashed-box{
	border: 2px dashed white;
}

img{
	width:30%;
	max-width:980px;
}
h3{
	margin-top: 0;
}
.row img {
	width: 50%;
	height:50%;
	margin-top: 30px;
	margin-bottom: 50px;
	border: 1px solid beige;
}
.container{
	margin: 0px 50px 50px 40px;

}

p{
	margin: 0 auto 10px auto;

}
#WordWrap{
	margin: 30px auto 20px auto;
	font-weight: 100;

}
#hold{
	margin: 30px;
	font-weight: 0;
	font-size:30px;
	overflow: auto;
}

#usedLetters {
	margin-top: 10px;
}
#solid-box{
	height: 100%;
	border-bottom: 1px solid black;
}
.dashed-left{

	border-top: 1px dashed white;
}
.dashes-right{
	border-right: 2px dashed white;
}